@media (max-width: 1200px) {
  .promo {
    &__header {
      font-size: 38px;
    }
    &__subheader {
      font-size: 20px;
    }
    &__icons {
      width: 380px;
    }
    &__icon {
      width: 88px;
    }
    &__link {
      width: 173px;
      a {
        font-size: 13px;
      }
    }
  }

  .container {
    max-width: 850px;
  }

  .button {
    &_main {
      width: 280px;
    }
  }
}

@media (max-width: 991px) {
  .promo {
    &__header {
      font-size: 34px;
    }
    &__subheader {
      font-size: 18px;
    }
    &__icons {
      width: 360px;
    }
    &__icon {
      width: 68px;
    }
    &__link {
      width: 153px;
      a {
        font-size: 11px;
      }
    }
  }

  .container {
    max-width: 650px;
  }

  .header {
    &__logo {
      width: 220px;
    }
    &__phone {
      font-size: 17px;
    }
    &__contacts {
      button {
        width: 130px;
        font-size: 11px;
      }
    }
  }

  .button {
    &_main {
      width: 260px;
    }
  }

  .advantages {
    &__item {
      max-width: 200px;
    }
  }

  .feed-form {
    width: 270px;
  }

  .carousel {
    &__inner {
      width: 650px;
    }
  }

  .slick-dots {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  #slick-slide-control00,
  #slick-slide-control01,
  #slick-slide-control02 {
    display: none;
  }

  .feed-form_mt25 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .promo {
    &__header {
      font-size: 34px;
    }
    &__subheader {
      font-size: 18px;
    }
    &__icons {
      width: 360px;
    }
    &__icon {
      width: 68px;
    }
    &__link {
      width: 153px;
      a {
        font-size: 11px;
      }
    }
    &__wrapper {
      align-items: center;
    }
  }

  .header {
    height: 190px;
    flex-direction: column;
    justify-content: space-between;
    &__contacts {
      align-items: center;
    }
  }

  .button {
    &_main {
      width: 260px;
    }
  }

  .advantages {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      margin-top: 30px;
    }
    &__item:first-child {
      margin-top: 0;
    }
  }

  .consultation {
    .title {
      &_left {
        text-align: center;
      }
    }
    &__descr {
      margin-top: 30px;
      text-align: center;
    }
    .feed-form {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .carousel {
    &__inner {
      width: 500px;
    }
  }

  .catalog__tabs {
    max-width: 520px;
    margin-right: auto;
    margin-left: auto;
  }

  .catalog__content {
    justify-content: center;
  }

  .feed {
    &__item {
      margin-top: 60px;
      img {
        margin-bottom: 30px;
      }
      text-align: center;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 575px) {
  .promo {
    &__header {
      text-align: center;
    }
    &__subheader {
      text-align: center;
    }
    &__icons {
      width: 300px;
    }
  }

  .consultation {
    .title {
      &_left {
        font-size: 28px;
      }
    }
    &__descr {
      font-size: 17px;
    }
    .feed-form {
      width: 230px;
      min-height: 230px;
    }
  }

  .carousel {
    &__inner {
      width: 270px;
    }
  }

  .catalog__tabs {
    max-width: 300px;
  }

  .catalog__tab div {
    font-size: 10px;
  }

  .title {
    font-size: 25px;
  }

  .footer {
    &__info {
      padding: 20px;
      width: 300px;
      height: 200px;
    }
    &__addr {
      font-size: 18px;
    }
    &__phone {
      font-size: 18px;
    }
    &__social-item {
      width: 40px;
      height: 40px;
      img {
        width: 20px;
      }
    }
  }

  .modal {
    width: 250px;
    &__close {
      right: -30px;
    }
  }

  .feed-form_mt25 {
    input {
      height: 35px;
    }
    button {
      height: 40px;
      font-size: 12px;
    }
  }

  #order {
    min-height: 350px;
  }

  #consultation {
    .modal__close {
      top: 15px;
    }
  }
}
